.center img {
    display: block;
    margin: auto;
    position: relative;
    top: 190px;
    width: 272px;
    height: 92px;
}

#search {
   text-align: center;
   margin-top: 225px;    
}

#searchBar {
    width: 475px;
    height: 35px;
    font-size: 18px;
}

input[type=submit]{
    margin-top: 30px;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
    color: grey;
    height: 35px;
    width: 135px;
    border:none;
    background-color: rgb(242, 243, 244);
}

.navBar {
    position: absolute;
    right: 10px;
}

.navBar a {
    display: inline-block;
    margin-top: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: black;
}

.navBar a:hover {
    text-decoration: underline;
}

.footer {
   position: absolute;
   left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: rgb(242, 243, 244);;
}

.footer a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 13px;
    color: grey;
}

.footer a:hover {
    text-decoration: underline;
}

.rightFooter {
    display: inline-block;
    position: absolute;
    right: 20px;
}
